@{
    ViewData["Title"] = "NotFound";
}
    <div class="page-header">
        <h2>Not Found</h2>
    </div>
    <div class="alert alert-danger" role="alert">
        <div>
            <strong>¯\_(ツ)_/¯</strong>
            I'm sorry but there's nothing here.
        </div>
    </div>