@{
    ViewData["Title"] = "NotFound";
}
<div class="row">
    <div class="col-md-3">
        <h2>¯\_(ツ)_/¯</h2>
        <div>
            I'm Sorry but there's nothing here.
        </div>
    </div>
</div>