@model FadeNote.Web.Models.PINViewModel;
@{
    ViewData["Title"] = "Pin";
}
    <div class="page-header">
        <h2>PIN Required for this secret</h2>
    </div>
    @using (Html.BeginForm("Note", "Home", FormMethod.Get))
    {
        @Html.HiddenFor(m => m.Id)
        <div>
            <div class="form-group">
                @Html.LabelFor(m => m.PIN)
                @Html.PasswordFor(m => m.PIN, new { @class = "form-control" })
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    }