@model FadeNote.Web.Models.NewResponseViewModel
    <div class="page-header">
        <h2>Success</h2>
    </div>
    <div>
        <div class="alert alert-success" role="alert">
            @Html.DisplayFor(m => m.Message)
        </div>
        <div class="alert alert-info" role="alert">
            @Html.LabelFor(m => m.URL)
            <a href="@Model.URL">Share this link</a>
        </div>
    </div>