@model FadeNote.Web.Models.NewResponseViewModel
<div class="row">
    <div class="col-md-3">
        <h2>Success</h2>
            <div>
                @Html.DisplayFor(m => m.Message)
            </div>
            <div>
                @Html.LabelFor(m => m.URL)
                <a href="@Model.URL">Share this link</a>
            </div>
    </div>
</div>